<div class="kc-nav-menu">
    {{#each children}}
        <div class="kc-menu-item">
            <p><strong id="{{id}}">{{name}}</strong></p>
            {{#each children}}
                <p>
                    <div class="kc-menu-title-default">
                        <span id="{{id}}">{{name}}</span>
                    </div>
                    <div class="kc-menu-navs">
                        {{#each children}}
                            <span id="{{id}}">{{name}}</span>
                        {{/each}}
                    </div>
                </p>
            {{/each}}
        </div>
    {{/each}}
</div>